@using System.Activities.Statements
@using System.Runtime.Remoting.Messaging
@model CarRental.Entity.Concretes.Car

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentFeeDaily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentFeeDaily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarTotalKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarTotalKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarTotalSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarTotalSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

    </dl>
</div>
@*<div>
    <h4>Rent Infos</h4>
    <hr />
    @foreach (var item in Model.isRent)
    {
<dl class="dl-horizontal">
    <dt>
        @Html.Raw("Rent Infos")
    </dt>

    <dt>
        @Html.Raw("Rent Dates:")
    </dt>

    <dd>
        @Html.Raw("Start: " +item.RentDateStart.ToLongDateString() + "      End: " + item.RentDateEnd.ToLongTimeString())
    </dd>
</dl>}
</div>*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarID }) |
    @Html.ActionLink("Back to List", "ListAll")
</p>